/* styles for frog gif */
/* .header-frog {
  bottom: -.1em;
  left: -.3em;
  min-width: .4em;
  width: .4em;
} */

/* styles for frog glpyh */
.header-frog {
  bottom: -1.8em;
  font-size: 8px;
  left: -1.3em;
  min-width: .4em;
  width: .4em;
}

body {
  p, li {
    letter-spacing: -.3px;
  }
}

/* section p {
  margin-top: 1em;
} */

/* section figure {
  margin-top: 1em;
} */

/* section a {
  text-decoration: underline;
} */

section {
  p {
    margin-top: 1em;
  }

  figure {
    margin-top: 1em;
  }

  a {
    text-decoration: underline;
  }

  ul {
    list-style: none;
  }

  li {
    line-height: 1.5em;
    padding: 15px;
  }

  li::before {
    content: 'ìÜè';
    font-size: .8em;
    margin-right: .5em;
  }
}

/* styles for essay */
.info {
  letter-spacing: -.3px;

  h1 {
    font-size: 2em;
    text-align: center;
  }

  figure {
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-width: 2px;
    margin-top: 1em;
    padding-left: 1em;
    font-size: .9em;
  }

  sup {
    padding-left: .3em;
  }

  .footnote {
    font-size: .9em;

    sup {
      padding-right: 1em;
    }
  }

  figure {
    /* emerald-900 */
    border-color: #064e3b; 
  }
}