/* styles for frog gif */
/* .header-frog {
  bottom: -.1em;
  left: -.3em;
  min-width: .4em;
  width: .4em;
} */

/* styles for frog glpyh */
.header-frog {
  bottom: -1.6em;
  font-size: 9px;
  left: -1.5em;
  min-width: .4em;
  width: .4em;
}

section p {
  margin-top: 1em;
}

section figure {
  margin-top: 1em;
}

section a {
  text-decoration: underline;
}

/* styles for essay */
.info {
  h1 {
    font-size: 2em;
    text-align: center;
  }

  blockquote {
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-width: 2px;
    padding-left: 1em;
    font-size: 1.1em;
  }
}